@import "../var.css";
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Press+Start+2P&display=swap');

.main_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    color: var(--color-primary);
    z-index: 1;
}

h1{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: "Cal Sans";      
}

.catBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.tableBody{
    margin-top: 20px;
}

table {
    font-family: "Cal Sans";  
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.editBtn,
.deleteBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: white;
  margin-right: 0.5rem;
}

.editBtn {
  background-color: #007bff;
}

.editBtn:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: #dc3545;
}

.deleteBtn:hover {
  background-color: #a71d2a;
}